{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Date</th>
                <th>Title</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.senderId }}</td>
                    <td>{{ message.date | date('Y-m-d H:i:s') }}</td>
                    <td>
                        {% if message.new %}
                            <span class="label label-success">New</span>
                        {% endif %}
                        <a href="{{ path('message', 'view', {'id': message.id}) }}">{{ message.title }}</a>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}