{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        <input id="country-typeahead" type="text">
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for country in countries %}
                <tr>
                    <td>{{ country.id }}</td>
                    <td>{{ country.code }}</td>
                    <td>{{ country.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var substringMatcher = function(strs) {
                return function findMatches(q, cb) {
                    var matches, substrRegex;
                    matches = [];
                    substrRegex = new RegExp(q, 'i');

                    $.each(strs, function(i, str) {
                        if (substrRegex.test(str)) {
                            matches.push(str);
                        }
                    });

                    cb(matches);
                };
            };

            var countries = [
                {% for country in countries %}'{{ country.name }}',{% endfor %}
            ];

            $('#country-typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                name: 'countries',
                source: substringMatcher(countries)
            });
        });
    </script>
{% endblock %}